@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

html::-webkit-scrollbar {
  width: 0rem;
}

.bg-tentan {
  background-image: url("/assets/him.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bgCover {
  background-position: center;
  background-image: url("/assets/cover.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.primaryCard .secondaryCard {
  display: none;
  transition: all 0.3s ease-in-out 0s;
}

.primaryCard:hover .secondaryCard {
  display: flex;
}

.bgHoverFirst {
  background-position: center;
  background-image: url("/assets/tenten.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s ease-in-out 0s;
  opacity: 0.2;
}

.bgHoverFirst:hover {
  opacity: 1;
}

.bgHoverSecond {
  background-position: center;
  background-image: url("/assets/grid/tentan1.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s ease-in-out 0s;
  opacity: 0.2;
}

.bgHoverSecond:hover {
  opacity: 1;
}

.bgHoverThird {
  background-position: center;
  background-image: url("/assets/grid/tentan3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s ease-in-out 0s;
  opacity: 0.2;
}

.bgHoverThird:hover {
  opacity: 1;
}

.bgHoverFour {
  background-position: center;
  background-image: url("/assets/grid/tentan4.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s ease-in-out 0s;
  opacity: 0.2;
}

.bgHoverFour:hover {
  opacity: 1;
}

.bgHoverKid {
  background-position: center;
  background-image: url("/assets/grid/kid.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s ease-in-out 0s;
  opacity: 0.2;
}

.bgHoverKid:hover {
  opacity: 1;
}

.min-h-120 {
  height: 560px;
}