@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.bg-tentan {
  background-image: url("/assets/him.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bgHoverCard {
  background-color: white;
  transition: all 0.3s ease-in-out 0s;
  background-position: center;
}

.bgCover {
  background-position: center;
  background-image: url("/assets/cover.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bgHoverCard:hover {
  background-position: center;
  background-image: url("/assets/him.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.primaryCard .secondaryCard {
  display: none;
  transition: all 0.3s ease-in-out 0s;
}

.primaryCard:hover .secondaryCard {
  display: flex;
}
