@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Fake Receipt';
  src: url('./fonts/Fake Receipt.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  font-family: 'Fake Receipt', sans-serif;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

html::-webkit-scrollbar {
  width: 0rem;
}

.bg-tentan {
  background-image: url("/assets/him.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bgCover {
  background-position: center;
  background-image: url("/assets/cover.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.primaryCard .secondaryCard {
  display: none;
  transition: all 0.3s ease-in-out 0s;
}

.primaryCard:hover .secondaryCard {
  display: flex;
}

.bgHoverFirst {
  background-position: center;
  background-image: url("/assets/tenten.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s ease-in-out 0s;
  opacity: 0.2;
}

.bgHoverFirst:hover {
  opacity: 1;
}

.bgHoverSecond {
  background-position: center;
  background-image: url("/assets/grid/tentan1.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s ease-in-out 0s;
  opacity: 0.2;
}

.bgHoverSecond:hover {
  opacity: 1;
}

.bgHoverThird {
  background-position: center;
  background-image: url("/assets/grid/tentan3.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s ease-in-out 0s;
  opacity: 0.2;
}

.bgHoverThird:hover {
  opacity: 1;
}

.bgHoverFour {
  background-position: center;
  background-image: url("/assets/grid/tentan4.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s ease-in-out 0s;
  opacity: 0.2;
}

.bgHoverFour:hover {
  opacity: 1;
}

.bgHoverFive {
  background-position: center;
  background-image: url("/assets/grid/tentan5.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s ease-in-out 0s;
  opacity: 0.2;
}

.bgHoverFive:hover {
  opacity: 1;
}

.bgHoverKid {
  background-position: center;
  background-image: url("/assets/grid/kid.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s ease-in-out 0s;
  opacity: 0.2;
}

.bgHoverKid:hover {
  opacity: 1;
}

#images-wrapper {
  line-height: 0;
  -webkit-column-count: 3;
  -webkit-column-gap: 0px;
  -moz-column-count: 3;
  -moz-column-gap: 0px;
  column-count: 3;
  column-gap: 20px;
}

#images-wrapper img {
  width: 100% !important;
  height: auto !important;
  margin-bottom: 20px;
}

#images-wrapper {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1000px) {
  #images-wrapper {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

@media (max-width: 800px) {
  #images-wrapper {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 400px) {
  #images-wrapper {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}